* {
    font-family: 'Roboto Mono', monospace;
}

#intro {
    padding: 3em 0;
    width: 98%;
    max-width: 600px;
    display: block;
    margin: auto;
    z-index: 10;
    position: relative;
    display: none;
}

#background-gif {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('assets/si-background-gif.gif');
    background-size: cover;
    z-index: 0;
}

.info-lighten {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.6);
    z-index: 1;
}

#island-info {
    padding: 1em 0;
    position: relative;
    z-index: 2;
    font-size: 2em;
    width: 98%;
    max-width: 600px;
    display: block;
    margin: auto;
    text-align: justify;
}

#island-info a {
    color: inherit;
}

#island-info img {
    width: 100%;
}

#intro-content {
    margin: 2em 0;
    text-align: center;
}

.card {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 2s;
}

.fadeIn {
    opacity: 1;
}

img#sr-logo {
    width: 100%;
    /* box-shadow: -4px 4px 4px black; */
}

#game-container {
    display: none;
    margin: auto;
}

.background {
    padding: 0;
    margin: 0;
    background-image: url('assets/waterfall.gif');
    background-size: cover;
}

#darken {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0; left: 0;
    z-index: 0;
    background: rgba(255, 255, 255, 0.9);
    display: none;
}

img#logo {
    width: 100%;
    max-width: 800px;
}

.overlay {
    display: none;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.9);
    z-index: 10;
    position: fixed;
}

.content {
    width: 98%;
    max-width: 400px;
    display: block;
    margin: auto;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}

.content button {
    border: solid 1px white;
    color: white;
}

.content img {
    width: 100%;
}

#waterfall, canvas, #brighten {
    position: absolute;
    top: 0;
    left: 0;
}

#waterfall {
    width: 800px;
    height: 600px;
    z-index: 1;
}

canvas {
    z-index: 3;
    display: block;
    margin: auto;
    position: relative;
}

#brighten {
    width: 800px;
    height: 600px;
    z-index: 2;
    background: rgba(255, 255, 255, 0.7);
}

button {
    background: rgba(0, 0, 0, 0);
    font-size: 1em;
    border: solid 1px black;
    border-radius: 0;
    padding: 0.75em 1.25em;
    cursor: pointer;
}

#options {
    margin-top: 2em;
    font-size: 1em;
    text-align: center;
}

#spaulding-intro img {
    display: block;
    margin: auto;
}

#spaulding-intro {
    text-align: justify;
}